---
import { Image } from "astro:assets";
import CustomSelect from "../componnets/Form/CustomSelect.astro";
import CardRoom from "../componnets/Room/CardRoom.astro";
import MenuItem from "../componnets/Room/MenuItem.astro";
import Bed from "../componnets/Logos/Bed.astro";
import CardProfile from "../componnets/Room/CardProfile.astro";

const rooms = [
    {
        id: 1,
        imageUrl: "/img/rooms/room1.webp",
        name: "Habitacion doble",
        description: "",
        price: 128000,
        reserved: false,
    },
    {
        id: 2,
        imageUrl: "/img/rooms/room1.webp",
        name: "Habitacion doble",
        description: "",
        price: 250000,
        reserved: true,
    },
    {
        id: 3,
        imageUrl: "/img/rooms/room1.webp",
        name: "Habitacion doble",
        description: "",
        price: 166000,
        reserved: false,
    },
    {
        id: 4,
        imageUrl: "/img/rooms/room1.webp",
        name: "Habitacion doble",
        description: "",
        price: 220000,
        reserved: true,
    },
    {
        id: 5,
        imageUrl: "/img/rooms/room1.webp",
        name: "Habitacion doble",
        description: "",
        price: 180000,
        reserved: false,
    },
    {
        id: 6,
        imageUrl: "/img/rooms/room1.webp",
        name: "Habitacion doble",
        description: "",
        price: 195000,
        reserved: true,
    },
];
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA:Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Habitaciones</title>
    </head>

    <body class="">
        <div class="flex min-h-screen min-w-screen">
            <aside class="w-80 bg-black">
                <ul class="list-none">
                    <CardProfile name="Angie vargas" email="test@gmail.com" />
                    <MenuItem isSelected>
                        <a id="GetRoomButton">
                            <Bed className="h-10 w-10" />
                            Habitaciones
                        </a>
                    </MenuItem>

                    <MenuItem>
                        <a id="CreateRoomButton">
                            <Bed className="h-10 w-10" />
                            Registrar Habitaciones
                        </a>
                    </MenuItem>

                    <MenuItem>
                        <a id="EditRoomButton">
                            <Bed className="h-10 w-10" />
                            Habitaciones
                        </a>
                    </MenuItem>
                </ul>
            </aside>
            <div class="w-full py-4">
                <header>
                    <h1 class="text-6xl text-center my-8">Habitaciones</h1>
                </header>
                <div
                    class="bg-black bg-opacity-10 flex justify-center py-8 w-full"
                >
                    <div class="flex w-7/12 justify-between">
                        <div class="relative flex items-center">
                            <CustomSelect
                                name="categoria"
                                label="Categoria"
                                options={["test 1", "test 2"]}
                                classname=" shadow-md py-[0.35rem] w-56 "
                            />
                        </div>
                        <div class="relative flex items-center">
                            <CustomSelect
                                name="estado"
                                label="Estado"
                                classname="shadow-md py-[0.35rem] w-56 "
                                options={["test 1", "test 2"]}
                            />
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <div
                        class="my-5 grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-20 2xl:gap-28 w-11/12"
                    >
                        {
                            rooms.map((e, index) => (
                                <CardRoom
                                    id={index}
                                    imageUrl={e.imageUrl}
                                    name={e.name}
                                    reserved={e.reserved}
                                    price={e.price}
                                    description={e.description}
                                />
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>

        <footer></footer>
    </body>
</html>

<style></style>

<script>
    let urlActual = "/rooms";

    const CreateRoom = () => {
        // alert("hello");
    };
    const EditRoom = () => {
        // alert("hello");
    };

    const GetRoom = () => {
        // alert("hello");
    };

    const createButton = document.querySelector("#CreateRoomButton");
    createButton?.setAttribute("href", urlActual + "/create");
    createButton?.addEventListener("click", CreateRoom);

    const EditRoomButton = document.querySelector("#EditRoomButton");
    EditRoomButton?.setAttribute("href", urlActual + "/edit");
    EditRoomButton?.addEventListener("click", EditRoom);

    const GetRoomButton = document.querySelector("#GetRoomButton");
    GetRoomButton?.setAttribute("href", urlActual);
    GetRoomButton?.addEventListener("click", GetRoom);
</script>
